{% extends "main_template.html" %}
{% block content %}

<div>

<div class="row">
	<div id="add" class="col-xs-6 col-md-2">  </div>

	  <div id="add" class="col-xs-6 col-md-2">
		<a style="text-align: center;" class="thumbnail" href="/matematica/add">
			<img src="{{STATIC_URL}}img/dog.png"/>      
			ADIÇÃO
		</a>
	  </div>
		<div id="sub" class="col-xs-6 col-md-2">
		<a style="text-align: center;" class="thumbnail" href="/matematica/sub">
			<img src="{{STATIC_URL}}img/fox.png"/> 
			SUBTRAÇÃO
		</a>
	  </div>
	  <div id="mcdu" class="col-xs-6 col-md-2">
		<a style="text-align: center;" class="thumbnail" href="/matematica/mcdu">
			<img src="{{STATIC_URL}}img/tucano.png"/>    
			MCDU
		</a>
	  </div>
	  
	  <div id="money" class="col-xs-6 col-md-2">
		<a style="text-align: center;" class="thumbnail" href="/matematica/money">
			<img src="{{STATIC_URL}}img/eleph.png"/> 
			APLICAÇÃO MONETÁRIA
		</a>
	  </div>
	 <div id="add" class="col-xs-6 col-md-2">  </div>
</div>


</div>

{% endblock %}