{% extends "main_template.html" %}
{% block content %}

<div>

Faca milagre ana e vitu

</div>
<div>

<div class="row">
  <div id="add" class="col-xs-6 col-md-3">
    <a style="text-align: center;" class="thumbnail">
		<img src="{{STATIC_URL}}img/dog.png"/>      
		ADIÇÃO
    </a>
  </div>
	<div id="sub" class="col-xs-6 col-md-3">
    <a style="text-align: center;" class="thumbnail">
		<img src="{{STATIC_URL}}img/fox.png"/> 
		SUBTRAÇÃO
    </a>
  </div>
  <div id="mcdu" class="col-xs-6 col-md-3">
    <a style="text-align: center;" class="thumbnail">
		<img src="{{STATIC_URL}}img/tucano.png"/>    
		MCDU
    </a>
  </div>
  
  <div id="money" class="col-xs-6 col-md-3">
    <a style="text-align: center;" class="thumbnail">
		<img src="{{STATIC_URL}}img/eleph.png"/> 
		APLICAÇÃO MONETÁRIA
    </a>
  </div>
</div>

<div id="extend_add">
add
<div>


<div id="extend_sub">
sub
<div>


<div id="extend_mcdu">
mdcu
<div>


<div id="extend_money">
money
<div>

</div>

{% endblock %}